<div class="select-container">
  <div class="start">
    <div class="logo">
      <a href="https://justclean.com/">
        <img class="logoPic" src="./assets/icons/jc.png" style="width: 185px;height: 140px;" alt="logo">
      </a> 
    </div>
  </div>
<div class="list">

  <div *ngIf="loginError" class="alert alert-warning alert-dismissible fade show">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Warning!</strong> login first..
  </div>
  
  <div *ngIf="isLoggedIn">
    <a class="btn btn-light log" (click)="logout()">{{'HEADER.LOGOUT' | translate}}</a>
  </div>
  <div *ngIf="!isLoggedIn">
    <a class="btn btn-light log" (click)="login()">{{'HEADER.LOGIN' | translate}}</a>
  </div>
  <!-- <select  (change)="selectCountry(+country.value)" #country>
    <option value="select" disabled selected>select country</option>
    <option *ngFor="let country of countries " [value]="country.country_id">{{country.name}}</option>
  </select>&nbsp; -->
  
  <div class="dropdown">
    <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown">
      &nbsp;&nbsp;<span id="name">{{name}}</span>&nbsp;&nbsp;&nbsp;<img *ngIf="icon" [src]="icon" id="icon">&nbsp;&nbsp;&nbsp;
    </button>
    <ul class="dropdown-menu">
      <li *ngFor="let country of countries " [value]="country.country_id" (click)="selectCountry(country)" >
        <a class="dropdown-item"><img [src]="country.icon">
          <span style="float: right;">{{country.name}}</span>
        </a>
      </li>
    </ul>
  </div>
</div>
</div>
