$border:1px solid lightgray;
.container{
    margin: 10px;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    // border:$border
}
// .header{
//     margin-top: 10px;
//     padding:20px;
//     width: 100%;
//     border: $border;
//     align-self: flex-start;
// }
.list{
    align-self: flex-end;
    padding:20px;
}
.langs{
  display: inline;
  right: 5px;
}

.langs a{
  cursor: pointer;
  color: blue;
}




/* mouse over link */
.langs a:hover {
  color: hotpink;
}

/* selected link */
.langs a:active {
  color: purple;
}