<!-- <div class="container">
    <div  *ngIf="!isLoggedIn" class="container mt-3">
        <h2>Login:</h2>
        <form [formGroup]="authform" (ngSubmit)="login()">
          <div class="mb-3 mt-3">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" formControlName="email">
          </div>
          <div class="mb-3">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" formControlName="password">
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="authform.invalid">login</button> 
            &nbsp;&nbsp;<small class="text-danger">{{error}}</small> 
        </form>
      </div>
      <div *ngIf="isLoggedIn">
        <h1 style="text-align: center;" class="text-success">Select your product from the list please..</h1><br>
      </div>
    </div> -->

<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="./assets/icons/jc.png" style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">{{'LOGIN_PAGE.COUNTRY_PRODUCT_TEXT'| translate}}</h4>
                </div>

                <div class="container">
                  <div *ngIf="!isLoggedIn" class="container mt-3">
                    <h2>{{'LOGIN_PAGE.LOGIN_BUTTON' | translate}}</h2>
                    <form [formGroup]="authform" (ngSubmit)="login()">
                      <div class="mb-3 mt-3">
                        <label for="email">{{'LOGIN_PAGE.EMAIL'|translate}}</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"
                          formControlName="email">
                      </div>
                      <div class="mb-3">
                        <label for="pwd">{{'LOGIN_PAGE.PASSWORD'|translate}}</label>
                        <input type="password" class="form-control" id="pwd" placeholder="Enter password"
                          name="password" formControlName="password">
                      </div>
                      <button type="submit" class="btn btn-primary"
                        [disabled]="authform.invalid">{{'LOGIN_PAGE.LOGIN_BUTTON' | translate}}</button>
                      &nbsp;&nbsp;<small class="text-danger">{{error}}</small>
                    </form>
                  </div>
                  <div *ngIf="isLoggedIn">
                    <h1 style="text-align: center;" class="text-success">{{'PRODUCTS.SELECT_TEXT'| translate}}</h1><br>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>